<?xml version="1.0"?>

<robot name="Walter"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Gazebo plugings -->

  <gazebo reference="base_footprint">
  </gazebo>

  <gazebo reference="panza">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/White</material>
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>


  <gazebo reference="lidar">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/Red</material>
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>


  <gazebo reference="pantalla">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/Black</material>
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>


  <gazebo reference="ojo_der">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/Blue</material>
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="ojo_izq">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/Blue</material>
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="cuerpo">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/White</material>
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="cabeza_pecho">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/White</material>
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="fijos_inferior">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/White</material>
    <preserveFixedJoint>true</preserveFixedJoint>
    <!-- <mu1 value="15" />
    <mu2 value="15" />
    <kp value="100000" />
    <kd value="100" /> -->
  </gazebo>


  <gazebo reference="llantita_1">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/Blue</material>
    <preserveFixedJoint>true</preserveFixedJoint>
    <mu1 value="0.020" />
    <mu2 value="0.020" />
    <kp value="1000000.0" />
    <kd value="1000000.0" />
  </gazebo>

  <gazebo reference="llantita_2">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/Blue</material>
    <preserveFixedJoint>true</preserveFixedJoint>
    <mu1 value="0.020" />
    <mu2 value="0.020" />
    <kp value="1000000.0" />
    <kd value="1000000.0" />
  </gazebo>

  <gazebo reference="llantita_3">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/Blue</material>
    <preserveFixedJoint>true</preserveFixedJoint>
    <mu1 value="0.020" />
    <mu2 value="0.020" />
    <kp value="10000000.0" />
    <kd value="200.0" />
  </gazebo>

  <gazebo reference="llantita_4">

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <material>Gazebo/Blue</material>
    <preserveFixedJoint>true</preserveFixedJoint>
    <mu1 value="0.020" />
    <mu2 value="0.020" />
    <kp value="10000000.0" />
    <kd value="200.0" />
  </gazebo>


  <gazebo reference="rueda">
    <mu1 value="100000.0" />
    <mu2 value="100000.0" />
    <kp value="10000000.0" />
    <kd value="100.0" />
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="rueda_2">
    <mu1 value="100000.0" />
    <mu2 value="100000.0" />
    <kp value="10000000.0" />
    <kd value="100.0" />
    <material>Gazebo/Blue</material>
  </gazebo>


  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="rueda_izquierda">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
      <!-- <state_interface name="effort" />-->
    </joint>
    <joint name="rueda_derecha">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
      <!-- <state_interface name="effort" /> -->
    </joint>
  </ros2_control>


  <!-- lidar Plugging-->
  <gazebo reference="lidar">
    <sensor name="laser" type="ray">
      <pose>0 0 0 0 0 0 </pose>
      <visualise>true</visualise>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>12</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <remapping>~/out:=scan</remapping>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>lidar</frame_name>
      </plugin>
    </sensor>
  </gazebo>


  <!-- Diferencial drive controladores-->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">

      <parameters>$(find walter_description)/config/controllers.yaml</parameters>
      <ros>
        <remapping>/diff_drive_base_controller/cmd_vel_unstamped:=/cmd_vel</remapping>
        <remapping>/diff_drive_base_controller/odom:=/groundtruth_odom</remapping>
      </ros>

    </plugin>
  </gazebo>


</robot>